
@font-face {
  font-family: "Minecraft";
  src: url("../src/assets/fonts/minecraft-font/MinecraftBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "termin-font";
  src: url("./assets/fonts/Termin-font/termin-font.ttf");
  font-weight: 700;
}

/* Dashboard.css */

.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dashboard-header {
  font-family: 'Termin-font';
  font-size: 40px;
}

.dashboard-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashboard-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 60%;
  margin: 0 auto;
  z-index: 1;
}

.transparent-text {
  color: rgba(255, 255, 255, 0.0);
}

.dashboard-box {
  /*background: linear-gradient(to bottom, rgb(146, 11, 7), rgb(0, 0, 0)); */
  background: radial-gradient(circle, rgb(78, 2, 2), rgb(0, 0, 0));
  transform: none;
  transition: transform 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: 2;
  border: 2px solid white; /* Example border */
  opacity: 0.75;
  margin-bottom: 25px;
  position: relative;
}

.new-dashboard-box {
  /*background: radial-gradient(circle, rgb(78, 2, 2), rgb(0, 0, 0)); */
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 10px;
  padding: 20px;
 /* width: 100vw;
  height: 5vw; */
  width: 25vw;
  margin-bottom: 800px; /* Adjust margin as needed */
  margin-top: -25px;
  border: 2px solid transparent; /* Example border */
  min-width: 100vw;
  opacity: 0.75;
    position: fixed;
}

.newbox-text {
  /*padding-left: 45vw;*/
  font-family: 'Termin-font';
  font-size: 20px;
  text-align: center;
  z-index: 15;
}

.newbox-text-p {
  /*padding-left: 25vw;*/
  font-family: 'Termin-font';
  font-size: 20px;
}

.wallet-box {
  /*background: radial-gradient(circle, rgb(78, 2, 2), rgb(0, 0, 0)); */
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 10px;
  padding: 20px;
 /* width: 100vw;
  height: 5vw; */
  width: 25vw;
  margin-bottom: 800px; /* Adjust margin as needed */
  margin-top: -25px;
  margin-left: 85vw;
  border: 2px solid rgb(255, 255, 255); /* Example border */
  max-width: 8vw;
  max-height: 3vw;
  opacity: 0.75;
    position: fixed;
display: flex;
align-items: center;
}

.wallet-text {

}

.wallet-icon {
  /*background: radial-gradient(circle, rgb(78, 2, 2), rgb(0, 0, 0)); */
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 10px;
  padding: 20px;
 /* width: 100vw;
  height: 5vw; */
  width: 25vw;
  margin-bottom: 800px; /* Adjust margin as needed */
  margin-top: -25px;
  margin-left: 79vw;
  border: 2px solid transparent; /* Example border */
  max-width: 8vw;
  max-height: 3vw;
  opacity: 0.75;
    position: fixed;
display: flex;
align-items: center;
}

.green-bar {
  background-color: white;
  height: 60px; /* Adjust the height as needed */
  width: 100%; /* Full width of the page */
  display: flex; /* Flexbox for positioning elements */
  justify-content: space-between; /* Space items evenly along the main axis */
  align-items: center; /* Center items vertically */
  padding: 0 20px; /* Padding inside the navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for depth */
  z-index: 100;
}

.coin-grid {
  display: flex; /* Use flexbox to create a row layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */

}

.g-col-4-header {
  width: 25%; /* Each item takes 50% of the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 10px; /* Adjust padding as needed */
  font-size: 20px;
  color: rgb(148, 37, 89)
}

.g-col-4 {
  width: 25%; /* Each item takes 50% of the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 10px; /* Adjust padding as needed */
  color: rgb(214, 93, 149)
}

/* Crypto swap css */



.crypto-wallet-box {
  background-color: transparent;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-section {
  background-color: blue;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px; /* Adjust spacing between sections */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

