@font-face {
    font-family: 'MinecraftBold';
    src: url('./MinecraftBold.otf') format('opentype');
}
@font-face {
    font-family: 'MinecraftBoldItalic';
    src: url('./MinecraftBoldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'MinecraftItalic';
    src: url('./MinecraftItalic.otf') format('opentype');
}
@font-face {
    font-family: 'MinecraftRegular';
    src: url('./MinecraftRegular.otf') format('opentype');
}